# these files are managed by emacs
tramp
server/*
!server/.keep
emacs_backup/*
desktop/*
!desktop/.keep
eshell/*
.ido.last
elpa/*
.aspell.en.pws
ac-dict/*
ac-comphist.dat
auto-save-list/*
helm-adaptive-history
.persistent-scratch
smex-items
network-security.data
places

# my own trash
_*